<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.garsonason">
    
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground_two"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground_two"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".reportBugActivity"></activity>
        <activity android:name=".busnismusnisActivity" />
        <activity android:name=".customerPanelActivity" />
        <activity android:name=".customerListOrdersActivity" />
        <activity android:name=".businessOrderCompletedActivity" />
        <activity android:name=".businessOrderIdleActivity" />
        <activity android:name=".customerPayActivity" />
        <activity android:name=".customerChkActivity" />
        <activity android:name=".customerMenuActivity" />
        <activity android:name=".customerMainActivity" />
        <activity android:name=".listeCek" />
        <activity android:name=".businessAddProductActivity" />
        <activity android:name=".forgotPasswordActivity" />
        <activity android:name=".businessMainActivity" />
        <activity android:name=".customerRegisterActivity" />
        <activity android:name=".businessRegisterActivity" />
        <activity android:name=".registerButtonsActivity" />
        <activity android:name=".loginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode"/>
    </application>

</manifest>